.App {
  text-align: center;
}

body {
  text-align: center;
}

/*HOMEPAGE*/

.Homepage{
  display: flex;
  flex-direction: row;
}

.Homepage img {
  padding-top: 5%;
  height: 500px;
  float: left;
  margin-left: 10%;
  margin-right: 5%
}

.homepage-question{
  font-size: 70px;
}

.homepage-text {
  margin-right: 10%;
  padding-top: 5%;
  font-size: 40px;
}

/*NAVBAR*/
.nav-style{
  background-color: white;
  height:80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 800px;
}

ul{
  display: flex;
  flex-direction: row;
}

li{
  margin-left: 3rem;
  margin-right: 3rem;
  list-style: none;
  display: flex;
  align-items: center;
}


/*FORM LOGIN + FORM SIGNUP*/
.form-login , .form-signup  {
  background-color:white;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

.title-login , .title-signup  {
  color: #8e2dfd;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

/*FORM EDIT EXPERIENCE*/
.form-editExperience {
  margin-top: 30px;
  margin-left: 35rem;
  background-color:white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 720px;  
}

/*FORMS ADD EXPERIENCE & ADD SKILL*/
.form-addSkill, .form-addExperience  {
  margin-top: 30px;
  margin-left: 35rem;
  background-color:white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 720px;  
}


.form-getContact{
margin-top: 30px;
margin-left: 35rem;
background-color: white;
border-radius: 20px;
box-sizing: border-box;
padding: 20px;
width: 720px;
right: -16%;
}

/*FORM INPUTS*/
.form-addExperience input , .form-addSkill input, .form-login input, .form-signup input, .form-getContact input {
  background-color:#cdbfd6;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  margin-bottom: 40px;
  padding: 0.5rem;
}

.form-editExperience input {
  background-color: #cdbfd6;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  margin-bottom: 40px;
  padding: 0.5rem;
}

.input-container-login , .input-container-signup , .input-container-editExperience{
  position: relative;
  width: 100%;
}

/*BUTTONS*/

.btn-logout , .btn-login, .btn-signup, .btn-submit-skill, .btn-submit-experience, .btn-submit-edition{
  background: #8e2dfd;
  border-radius: 12px;
  color:white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}
.btn-contact{
  background: #8e2dfd;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  margin:1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  min-width: 10%;
}

.btn-back {
  background: #8e2dfd;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  margin:1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  min-width: 10%;
  float: left;
}

.btn-addSkill,  .btn-addExperience {
  background: #8e2dfd;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  margin:1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
 }

.btn-delete, .btn-edit-experience , .btn-submit-email{
  background:#8e2dfd;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  margin:1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  min-width: 20%;
}

button:hover {
  background: #303245;
  color: #fff;
  transition: 0.3s ease background;
}

/*SKILLIST & SKILLDETAILS*/

.SkilList, .SkilDetails{
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SkilList-items img {
  margin-bottom: 1rem;
  margin: 0.5rem;
  padding: 45px;
  max-width: 40%;
}

.SkilList-items {
  max-width: 20%;
  max-height: 30%;;
  border: 5px solid #8e2dfd;
  border-radius: 50px;
  margin: 1rem;
  flex-direction: column;
  justify-content: first baseline;
}

.SkilListDetails-items {
  min-width: 30%;
  min-height: 30%;;
  border: 5px solid #8e2dfd;
  border-radius: 50px;
  margin: 1rem;
  flex-direction: column;
  justify-content: first baseline;
}

.SkilListDetails-items img{
  margin-bottom: 1rem;
  margin: 0.5rem;
  border-radius:  50px;
  padding: 45px;
  max-width: 300px;
  max-height: 300px;
  background-size: cover
}

.title-skilList  {
  margin-top: 2rem;
  font-size: 50px;
}

.SkilList-text {
  padding: 20px;
  font-size: 20px;
}

.title-SkilListDetails {
  font-size: 50px;
}

.SkillDetails-namePosition {
  font-size: 20px;
}

/*EXPERIENCE DETAILS*/

.ExperienceDetails {
  padding: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  /* float: right; */
}

.ExperienceDetails img {
  width:500px;
  float:left;
  margin-right: 5%;
  border-radius:  50px;
}

.ExperienceDetails-namePosition {
  font-size: 50px;
  min-width: 800px;
}

.test-ExperienceDetails {
  margin-top: 4rem;
  font-size: 20px;
}
